<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %} - My Webpage
		</title>
		<meta charset="utf-8">
		<link rel="icon" href="favicon.ico">
		{% block css %}
			<link rel="stylesheet" href="style.css" />
		{% endblock %}
	</head>
	<body>
		<!-- You probably want to make a nav bar here -->
		<div id="content">
			{% block content %}
				<!-- All your main webpage content will end up here -->
			{% endblock %}
		</div>
		<!-- Maybe you want a footer here -->
		{% block javascript %}
			<!-- All your common js files should go here -->
			<script src="jquery-3.3.1.min.js"></script>
		{% endblock %}
	</body>
</html>
